#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* New styles for the login and register forms */
.form-container {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Flex container for side-by-side alignment */
.form-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Adds spacing between the forms */
  margin-top: 2rem;
}
/* Flex container for side-by-side alignment */
.payment-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Adds spacing between the components */
  margin-top: 2rem;
}

/* Individual payment container */
.payment-container {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.1);
}

